* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "poppins-medium", sans-serif;
}

.Tiffany-Blue {
  color: #0bbba0;
}

.skyBlue {
  background: linear-gradient(#155cce , #506bba) ;
  background-clip: text;
  color: transparent;
}

.bg-Black {
  background-color: #000000;
}


html , body {
  /* cursor: none; */
  font-size: 16px;

}

a {
  text-decoration: none !important;  
  color: white !important;
}

/* curosr */

.custom-cursor {
  position: fixed;
  width: 40px; /* Adjust the size as needed */
  height: 40px;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease;
}

.custom-cursor img {
  width: 60%;
  height: 60%;
  border: none;
}

/* a, button {
  cursor: none;
} */

/********************** button **********************/

button {
  --green: #155cce;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(0, 102, 255, 0.1) 1%, transparent 40%, transparent 60%, rgba(0, 64, 255, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(0, 102, 255, 0.5), 0 0 9px 3px rgba(0, 64, 255, 0.5);
}

button:hover {
  color: #0066ff;
  box-shadow: inset 0 0 10px rgba(0, 102, 255, 0.2), 0 0 9px 3px rgba(0, 64, 255, 0.2);
}

button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(34, 111, 227, 0.1) 40%, rgba(0, 64, 255, 0.1) 60%, transparent 100%);
}

button:hover:before {
  transform: translateX(15em);
}

/*********************** navbar ***********************/

.navbar {
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.navbar.scrolled {
  background-color: #000000;
  box-shadow: 0 2px 4px rgba(35, 35, 35, 0.1);
  /* Add desired box-shadow */
}


.navbar-brand {
  font-size: 24px;
}

.navbar-collapse {
  animation: slideDown 0.5s ease-in-out;
}

.navbar-toggler-icon {
  color: white;
}

.navbar-nav .nav-item .nav-link {
  color: white;
}

.navbar-nav .nav-item .nav-link:hover {
  background: linear-gradient(#155cce , #506bba) ;
  background-clip: text;
  color: transparent;
  scale: 1.15;
  font-weight: 700;
}


@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

/*********************** home page ***********************/

#home {
  background-image: url('/public/Images/bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.home-info {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first h5 {
  background: linear-gradient(#155cce , #506bba) ;
  background-clip: text;
  color: transparent;
  font-family: "poppins-bold", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.565;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.first h1 {
  background: linear-gradient(#155cce , #506bba) ;
  background-clip: text;
  color: transparent;
  font-family: "poppins-medium", sans-serif;
  font-size: 4rem;
  line-height: 1.071;
  max-width: 900px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  height: 5rem;
}

.first h4 {
  letter-spacing: 2px;
}

/* .second img {
  border: 30px solid rgb(23, 23, 23);
  border-radius: 50%;
  width: 330px;
  height: 330px;
  filter: grayscale(0.9);
}

.second img:hover {
  filter: grayscale(0);
  scale: 1.2;
  border: 30px solid rgb(160, 220, 210);
  box-shadow: 0px 0px 25px 0px rgb(99, 525, 226) ;

} */


/* ******************** projects **************************/

.card {
  position: relative;
  width: 21rem;
  height: 21rem;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 1.5rem;
}

.card img {
  width: 100%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  background-color: #000000;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}



.card:hover img {
  scale: 0;
}






/*********************** About page ***********************/

#about {
  background-color: #000000;
}

.about-container {
  margin: 2rem 0 5rem;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-first {
  width: 550px;
}

.about-first img {
  width: 100%;
}

.about-second {
  width: 450px;
}

.all-skills {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  margin-top: 1rem;
}

.all-skills p {
  border: 1px solid #0bbba0;
  border-radius: 4px;
  padding: .2rem;
  margin: .5rem .5rem;
}

.dwn {
  background-color: #0bbba0;
}

.edu-exp {
  background-image: url('/public/Images/bg-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.education div {
  width: 350px;
  border: 1px solid #100e17;
  background-color: #100e17;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 30px;
  background: #6b6b6b4a;
  box-shadow: inset 5px 5px 10px #3c3c3c,
    inset -5px -5px 10px #9a9a9a;
}

.experience div {
  width: 350px;
  border: 1px solid #100e17;
  background-color: #100e17;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 30px;
  background: #6b6b6b4a;
  box-shadow: inset 5px 5px 10px #3c3c3c,
    inset -5px -5px 10px #9a9a9a;
}

.skills-bars {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.tech {
  width: 350px;
}

.progress-info-wrapper {
  display: flex;
  justify-content: space-between;
  transform: translateY(13px);
}

.prof {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prof {
  width: 27rem;
}

.prof div {
  margin-bottom: 1rem;
}

.progress-bar-skill-1 {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, #100e17 79%, transparent 80% 100%),
    conic-gradient(rgb(221, 85, 114) 60%, #3b0117 0);
}

.progress-bar-skill-2 {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, #100e17 79%, transparent 80% 100%),
    conic-gradient(rgb(85, 110, 221) 80%, #3b0117 0);
}

.progress-bar-skill-3 {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, #100e17 79%, transparent 80% 100%),
    conic-gradient(rgb(85, 221, 137) 70%, #3b0117 0);
}

.progress-bar-skill-4 {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, #100e17 79%, transparent 80% 100%),
    conic-gradient(rgb(219, 221, 85) 75%, #3b0117 0);
}

.progress-bar-skill-5 {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, #100e17 79%, transparent 80% 100%),
    conic-gradient(rgb(221, 85, 210) 80%, #3b0117 0);
}

.progress-bar-skill-6 {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, #100e17 79%, transparent 80% 100%),
    conic-gradient(rgb(228, 61, 61) 80%, #3b0117 0);
}



.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/*********************** blog page ***********************/
#blogs {
  background-color: #020202;
}

.blogs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3rem;

}

.blog-box {
  width: 25rem;
  margin: 1rem;
}

.blog-box img {
  width: 100%;
  height: 60%;
}

/*********************** contact page ***********************/

#contact {
  background-image: url('/public/Images/dotted-world-map-black-background-vector-illustration_541075-470.jpg');
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0;
}

.contact-container {
  background-color: #100e17;
  width: 28rem;
  border-radius: 5px;
  padding: 1.5rem 2rem;
  margin: 1rem;

}

.contact-icon {
  border: 1px solid #155cce;
  border-radius: 50%;
  padding: 1.8rem;
}

.messege {
  margin-top: 1rem;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}



.input-style {
  padding: .3rem;
  width: 28rem;
  border-radius: 5px;
  margin: .5rem 0;
}

input[type="text"] {
  background: transparent;
}

textarea[typeof="text"] {
  background: transparent;
}

::placeholder {
  color: #fff;
}