@media screen and (max-width: 451px) {
    .home-info {
      height: 100vh;
    }
  
    .first {
      align-items: center;
      margin: 1rem 0 .5rem 0;
    }
  
    .first h6 {
     font-size: 1rem;
    }
  
    .first h1 {
      font-size: 2.2rem;
    }
  
    .second img {
      width: 190px;
      height: 190px;
      margin-top: 4rem;
      border: 15px solid rgb(23, 23, 23);
    }
  
  
    /* about */
  
    .about-first img {
      width: 75%;
      margin: 0 3.1rem;
    }
  
    .about-second {
      text-align: center;
      margin: 0 1.7rem;
      margin-top: 1rem;
    }
  
    .all-skills {
      width: 95%;
    }
  
  
    .prof-skills {
      margin-top: 4rem;
    }
  
    .slider-project img {
      width: 80%;
    }
  
    .carousel-item {
      height: 45rem;
    }
  
    .slider-info {
      text-align: center;
    }
  
    /* contact */
  
    .contact-container{
      width: 22rem;
    }
  
    .input-style {
      width: 22rem;
    }
  
  
  }